<h1>Single Event</h1>

<%= @attendees.find{|a| 3==a.event_id} %>
<p>
    current_user <%= current_user.id %>
    </p>
<%# <%= @attendees.find{|a| 3==a.event_id}.user_id %> %>
<br/>
<br/>

<%= @attendees %>
<br/>
<br/>
<%= @events.to_a %>
                <%=  @event.user_id == current_user.id ? "dis":"not dis" %>

<table>
    <tr>
        <th>
            Event ID
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Event Creator ID
        </th>
        <th>
            Hosting
        </th>
        <th>
            Attending
        </th>
        <th>
            Change Attending
        </th>
    </tr>
        <tr>
            <td>            
                <%= @event.id %>
            </td>     
            <td>            
                <%= @event.title || "Missing title" %>
            </td>                
            <td>            
                <%= @event.description %>
            </td>
            <td>            
                <%= @event.user_id %>
            </td>
            <td>           
                <%= @event.user_id == current_user.id ? "Hosting" : "Not hosting" %> 
            </td>
            <td>
                <%= @event.user_id == current_user.id ? "Yes Hosting" : @attendees.find{|a| @event.id==a.event_id && a.user_id==current_user.id} ? "Attendee":"Non attendee" %> 
            </td>
            <td>                         
                <% if @event.user_id == current_user.id  %>
                    N/A
                <% else %>                
                    <%= link_to "Change Attending",
                        change_status_event_path(@event), 
                        data:{turbo_method: :patch}
                    %>
                <% end %>
            </td>
    </tr>

</table>
