<h1>Single Event</h1>

<%= @attendees.find{|a| 3==a.event_id} %>
<p>
    current_user <%= current_user.id %>
    </p>
<%# <%= @attendees.find{|a| 3==a.event_id}.user_id %> %>
<br/>
<br/>

<%= @attendees.to_a %>
<br/>
<br/>
<%= @events.to_a %>
                <%=  @event.user_id == current_user.id ? "dis":"not dis" %>

<h3>
<%= @attendees.to_a.filter{|a| a.user_id!=current_user.id && a.event_id==@event.id }  %>
    </h3>
<p>Event Host ID: <%= @event.user_id %></p>
<table>
    <tr>
        <th>
            Event ID
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Event Creator ID
        </th>
        <th>
            Hosting
        </th>
        <th>
            Attending
        </th>
        <th>
            Change Attending
        </th>
    </tr>
    <tr>
        <td>            
            <%= @event.id %>
        </td>     
        <td>            
            <%= @event.title || "Missing title" %>
        </td>                
        <td>            
            <%= @event.description %>
        </td>
        <td>            
            <%= @event.user_id %>
        </td>
        <td>           
            <%= @event.user_id == current_user.id ? "Hosting" : "Not hosting" %> 
        </td>
        <td>
            <%= @event.user_id == current_user.id ? "Yes Hosting" : @attendees.find{|a| @event.id==a.event_id && a.user_id==current_user.id} ? "Attendee":"Non attendee" %> 
        </td>
        <td>                         
            <% if @event.user_id == current_user.id  %>
                N/A Hosting
            <% else  %>
                <% if @invitations.find{|i| i.user_id==current_user.id && i.event_id==@event.id} %>
                    Invited <%= link_to "Change Attending",
                    change_status_event_path(@event), 
                    data:{turbo_method: :patch}
                %>
                <% else %>
                    Not Invited
                <% end %>                
            <% end %>
        </td>
    </tr>
</table>

<% if  @event.user_id == current_user.id  %>
    <p>Other Users</p>
    <table>
        <tr>
            <th>
                User ID
            </th>
            <th>
                Invited
            </th>
            <th>
                Toggle Invite
            </th>
        </tr>
        <% @users.filter{|user| user.id!=current_user.id}.each do |user| %>
            <tr>
                <td>            
                    <%= user.id %>
                </td>  
                <td>                    
                    <% if @invitations.find{|i| i.user_id==user.id  } %>
                        Invited
                    <% else %>
                        Not Invited
                    <% end %> 
                </td>
                <td>
                    <%= link_to "Change Invite",
                        change_invite_event_path(@event, user_id: user.id), 
                        data:{turbo_method: :patch} 
                    %>
                </td>
            </tr>
        <% end %>
    </table>
<% end %>
